:root {
    --color-blue:#17a2b8;
    --color-darkblue: #00394f;
    --color-bluebtn: #138496;
    --color-darkbluebtn:#001d29;
    --color-darkgray: #d9dadb;
    --color-gray:#f8f9fa;
    --color-graytext: #706f6f;
    --color-grayborder: #dee2e6;
    --color-white:#ffffff;
}
.classes {
    text-align:center;
    line-height: 2.5rem;
}
.classescontent {
    background-color: var(--color-gray);
    color: var(--color-graytext);  
    box-shadow: 0 0 0.5rem var(--color-grayborder);
    margin-bottom: 4.5rem;
    padding-bottom: 3rem;
}
.classescontent__image {
    border-radius: 0.5rem;
    width: 100%;
}
.classescontent__name{
    font-family:'Handlee', cursive;
    color: var(--color-darkblue);
    padding-top:2rem;
    font-size: 2.2rem;
    font-weight: bold;
}
.classescontent__description {
    padding:2rem;
    border-bottom:0.1rem solid var(--color-darkgray);
}
.classescontent__table {
    margin: 2rem auto;
    width: 90%;
    border-collapse: collapse;
    border-style: hidden;
}
.table__th {
    font-weight: bold;
text-align:end;
}
.table__td {
    text-align: start;
}
.table__td, .table__th {
    padding:0.5rem 2rem;
    border: 0.1rem solid var(--color-grayborder);

}
.joinclass__btn--center {
    margin:0 auto;

}

/* TEACHERS */
.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0 6rem;
}
.teachers__image {
    border-radius: 50%;
    max-width: 100%;
}
.teachers__name {
    font-family: 'Handlee', cursive;
    color: var(--color-darkblue);
    font-weight: bold;
    font-size: 2.5rem;
}
.teachers__spe {
    font-style: italic;
    color: var(--color-graytext);
}

/* TESTIMONIAL */
.parentsContainer {
    display: flex;
    justify-content: center;

}
.parents {
    padding-left: 1rem;
}
#previous, #after {
    color: var(--color-blue);
    font-size: 2rem;
    top: 50%;
}
#previous {
    right: -2rem;
    position: absolute;
}
#after {
    left: -2rem;
    position: absolute;
}
.testimonial {
    position: relative;
}
.activeTest .parents {
    animation: slide2 .4s 0s 1 ease;
}
@keyframes slide2 {
0% {
 transform: translateX(-200%);
 opacity: 0;
}
100% {
 transform: translateX(0);
 opacity: 1;
}
}