<footer class="footer">
    <div class="footer__container">
       <div class="footer__container-box footer__container-box--top">
         <div class="logo"><img src="../img/people.png" alt="logo" class="logo__image"><span
                 class="logo__title logo__title--footer">KiddyCare</span></div>
         <p class="footer__school-description">Labore dolor amet ipsum ea, erat sit ipsum duo eos. Volup amet ea
             dolor et magna dolor, elitr rebum duo est sed diam elitr. Stet elitr stet diam duo eos rebum ipsum diam
             ipsum elitr.</p>
             <a href="https://twitter.com/" class="footer__school-medialink" target="blank"><img src="../img/twitter.png"
                alt="twitter" class="mediaimg"></a>
        <a href="https://fr-fr.facebook.com/" class="footer__school-medialink" target="blank"><img src="../img/facebook.png"
                alt="facebook" class="mediaimg"></a>
        <a href="https://www.snapchat.com/" class="footer__school-medialink" target="blank"><img src="../img/snapchat.png"
                alt="facebook" class="mediaimg"></a>
        <a href="https://www.instagram.com/" class="footer__school-medialink" target="blank"><img src="../img/instagram.png"
                alt="facebook" class="mediaimg"></a>
     </div>
     <div class="footer__container-box">
         <h2 class="footer__title">Get in Touch</h2>
         <div class="footer__contact-content">
             <div class="footer__contact-img"><img src="../img/epingle.png" alt="map pin" class="footer__image"></div>
             <div class="details-container"><span class="footer__contact--details">Address</span> <span
                 class="schooladdress">123 Street, New York, USA</span></div>
             </div>
         <div class="footer__contact-content">
             <div class="footer__contact-img"><img src="../img/enveloppe.png" alt="email" class="footer__image"></div>
             <div class="details-container"> <span class="footer__contact--details">Email</span><span
                 class="schoolemail">info@example.com</span></div>
             </div>
         <div class="footer__contact-content">
             <div class="footer__contact-img"><img src="../img/phone.png" alt="phone" class="footer__image"></div>
             <div class="details-container"><span class="footer__contact--details">Phone</span><span
                 class="schoolphone">+012 345 67890</span></div>
     </div>
 </div>
     <div class="footer__container-box">
         <h2 class="footer__title">Quick Link</h2>
         <a href="/" class="footer__links"> &#8250; Home</a>
         <a href="/about" class="footer__links" >&#8250; About Us</a>
         <a href="/classes" class="footer__links">&#8250; Our Classes</a>
         <a href="/teachers" class="footer__links">&#8250; Our Teachers</a>
         <a href="/pages" class="footer__links">&#8250; Our Blog</a>
         <a href="/contact" class="footer__links">&#8250; Contact Us</a>
     </div>
   

 </div>
         <div class="copyrights">
         <p> © Kiddy Care. All Rights Reserved. Designed by HTML Codex</p>
         <p>Icons found in <a href="https://www.flaticon.com/" class="copyrights__links">Flat Icon</a></p>
         <p>You can find all the credits to authors here : <a href="/copyrights" class="copyrights__links"> Copyrights</a></p>
         </div>
 </footer>
 <script src="../js/script.js" ></script>
</body>

</html>