<%-include ("../partials/header")%>
<%-include ("../partials/headUser")%> 

<h1>Bookings</h1>

<div class="container" style= "display : flex">

    <h2>Drawing Class</h2>
<% for(const article of articles){ %>
<li><%=article.maintitle%></li>
<%    } %> 
</div>