<%-include ("../partials/headUser")%> 

<h1 class="adminPage__maintitle">Articles</h1>
<div class="message_container">

<% for(const article of articles){ 
    if (article.id == 1 || article.id == 2 || article.id == 3 || article.id == 4 || article.id == 5 ) {%>
    <div class="message">
        <p class="inputs"><span class="inputs__span">Article name :</span><%=article.maintitle%></p>
        <br>
        <p>&#10008 Article not removable &#10008</p>
      </div> 
      <% }else { %>
        <div class="message">
        <p class="inputs"><span class="inputs__span">Article name :</span><%=article.maintitle%></p>
            <div class="removelink"><a href="/user/removearticle/<%=article.id%>" class="removelink__a">Remove</a></div>
      </div>      
     <% }     
    } %> 
</div>