<%-include ("../partials/headUser")%> 
<h1 class="adminPage__title">Welcome <%=locals.user.name%> </h1>
<% if (locals.user.name === 'teacherKDC'){%> 

<p class="adminPage__text" >Feel free to update the school blog when you want ! </p>
<% } %>