<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="blue-link">About</a>
    <a href="/classes" class="navbar__links">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages<i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Blog Detail</a></div>
    </div>
    
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<a href="/login">Se connecter</a>
<a href="/classes" class="joinclass__btn">Join Class</a>
</header>
<main class="maincontent">
    <section class="banner banner__pages">
        <div class="banner__part1">
            <h1 class="banner__title">About us</h1>
            <p class="banner__description banner__description--pages"><a href="index.html" class="banner__link"> Home</a> / Abous Us</p>
        </div>
    </section>
    <div class="container">
        <section class="school-activities">
            <article class="card">
                <div class="card__icon"><img src="../img/fence.png" alt="fence" class="card__image"></div>
                <div>
                    <h3 class="card__title">Play Ground</h3>
                    <p class="card__description">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                        lorem amet elitr vero...</p>
                </div>
            </article>
            <article class="card">
                <div class="card__icon"><img src="../img/drum.png" alt="drum" class="card__image"></div>
                <div>
                    <h3 class="card__title">Music and Dance</h3>
                    <p class="card__description">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                        lorem amet elitr vero...</p>
                </div>
            </article>
            <article class="card">
                <div class="card__icon"><img src="../img/crayon-pen.png" alt="crayon" class="card__image"></div>
                <div>
                    <h3 class="card__title">Arts and Crafts</h3>
                    <p class="card__description">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                        lorem amet elitr vero...</p>
                </div>
            </article>
            <article class="card">
                <div class="card__icon"><img src="../img/toy-car.png" alt="toy car" class="card__image"></div>
                <div>
                    <h3 class="card__title">Safe Transportation</h3>
                    <p class="card__description">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                        lorem amet elitr vero...</p>
                </div>
            </article>
            <article class="card">
                <div class="card__icon"><img src="../img/sandwich.png" alt="sandwich" class="card__image"></div>
                <div>
                    <h3 class="card__title">Healthy Food</h3>
                    <p class="card__description">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                        lorem amet elitr vero...</p>
                </div>
            </article>
            <article class="card">
                <div class="card__icon"><img src="../img/bagpack.png" alt="bagpack" class="card__image"></div>
                <div>
                    <h3 class="card__title">Educational Tour</h3>
                    <p class="card__description">Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
                        lorem amet elitr vero...</p>
                </div>
            </article>
        </section>
        <section class="school-description">
            <div>
                <img src="../img/about-1.jpg" alt="about" class="school-description__image">
            </div>
            <div class="aboutus">
                <h3 class="content__subtitle">Learn about us</h3>
                <h2 class="content__title">Best School For Your Kids</h2>
                <p class="aboutus__content">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor
                    lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut
                    sed diam sea ipsum est dolor, Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor
                    lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut
                    sed diam sea ipsum est dolor</p>
                    <p class="aboutus__content">Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor
                        lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut
                        sed diam sea ipsum est dolor, Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor
                        lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut
                        sed diam sea ipsum est dolor</p>
                <div class="aboutus__checkpoint">
                    <div><img src="../img/about-2.jpg" alt="about2" class="schooldescription__image"></div>
                    <div class="aboutus__goals">
                        <span class="aboutus__goals-span"><img src="../img/check.png" alt="check"
                                class="check">Labore eos amet dolor amet diam</span>
                        <span class="aboutus__goals-span"><img src="../img/check.png" alt="check"
                                class="check">Etsea et sit dolor amet ipsum</span>
                        <span class="aboutus__goals-span"><img src="../img/check.png" alt="check" class="check">Diam
                            dolor diam elitripsum vero.</span>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
    </main>
    <%-include ("partials/footer")%>