<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="navbar__links">About</a>
    <a href="/classes" class="blue-link">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages<i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Last Article</a></div>
    </div>
    
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<a href="/login">Log in</a>
<a href="/classes" class="joinclass__btn">Join Class</a>
</header>

<main class="maincontent">
    <section class="banner banner__pages">
        <div class="banner__part1">
            <h1 class="banner__title">Our Classes</h1>
            <p class="banner__description banner__description--pages"><a href="index.html" class="banner__link"> Home</a> / Our Classes</p>
        </div>
    </section>
    <div class="container">
        <section class="classes">
            <h3 class="content__subtitle content__subtitle--border">Popular Classes</h3>
            <h2 class="content__title content__title--center">Classes for Your Kids</h2>
            <div class="classes__container">
            <article class="classescontent">
                <img src="../img/class-1.jpg" alt="class1" class="classescontent__image">
                <h3 class="classescontent__name">Drawing Class</h3>
                <p class="classescontent__description">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                    ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p>
                <table class="classescontent__table">
                    <tr class="table__tr">
                        <th class="table__th">Age Of Kids</th>
                        <td class="table__td">3 - 6 years</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Total Seats</th>
                        <td class="table__td">40 Seats</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Class Time</th>
                        <td class="table__td">08:00 - 10:00</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Tution Fee</th>
                        <td class="table__td">$290 / Month</td>
                    </tr>
                </table>
                <a href="#joinForm" class="joinclass__btn joinclass__btn--center">Join Now</a>
            </article>
            <article class="classescontent">
                <img src="../img/class-2.jpg" alt="class2" class="classescontent__image">
                <h3 class="classescontent__name">Language Learning</h3>
                <p class="classescontent__description">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                    ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p>
                <table class="classescontent__table">
                    <tr class="table__tr">
                        <th class="table__th">Age Of Kids</th>
                        <td class="table__td">3 - 6 years</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Total Seats</th>
                        <td class="table__td">40 Seats</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Class Time</th>
                        <td class="table__td">08:00 - 10:00</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Tution Fee</th>
                        <td class="table__td">$290 / Month</td>
                    </tr>
                </table>
                <a href="#joinForm" class="joinclass__btn joinclass__btn--center">Join Now</a>
            </article>
            <article class="classescontent">
                <img src="../img/class-3.jpg" alt="class3" class="classescontent__image">
                <h3 class="classescontent__name">Basic Science</h3>
                <p class="classescontent__description">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
                    ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p>
                <table class="classescontent__table">
                    <tr class="table__tr">
                        <th class="table__th">Age Of Kids</th>
                        <td class="table__td">3 - 6 years</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Total Seats</th>
                        <td class="table__td">40 Seats</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Class Time</th>
                        <td class="table__td">08:00 - 10:00</td>
                    </tr>
                    <tr class="table__tr">
                        <th class="table__th">Tution Fee</th>
                        <td class="table__td">$290 / Month</td>
                    </tr>
                </table>
                <a href="#joinForm" class="joinclass__btn joinclass__btn--center">Join Now</a>
            </article>
        </div>
        </section>
        <section class="book">
            <div class="bookaseat">
                <h3 class="content__subtitle">Book A Seat</h3>
                <h2 class="content__title">Book a seat for your kid</h2>
                <p class="bookaseat__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
                    deserunt amet id dignissimos assumenda impedit quos aperiam doloribus accusantium, fuga vel a
                    explicabo quidem atque sunt, dicta enim aspernatur minus!</p>
               <div class="goals">
                   <span class="bookaseat__goals"><img src="../img/check-green.png" alt="check"
                        class="check check--green">Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>

                <span class="bookaseat__goals"><img src="../img/check-green.png" alt="check"
                        class="check check--green">Alias nihil autem unde ab soluta architecto nam harum
                    illum.</span>
                <span class="bookaseat__goals"><img src="../img/check-green.png" alt="check"
                        class="check check--green">Diam dolor diam elitripsum vero.</span>
                    </div> 
            </div>
            <div class="formcontainer ">
                <h3 class="content__title content__subtitle--white">Book A Seat</h3>
                <form action="" method="POST" class="bookingform" id="joinForm">
                    <input type="text" id="name" name="name" placeholder="Your Name" class="bookingform__input">
                    <input type="email" id="email" name="email" placeholder="Your Email" class="bookingform__input">
                    <select name="class" id="class" class="bookingform__input bookingform__input--select">
                        <option value="0">Select a class</option>
                        <option value="1">Drawing Class</option>
                        <option value="2">Language Class</option>
                        <option value="3">Basic Science</option>
                    </select>
                    <button type="submit" class="bookingform__button">Book Now</button>
                </form>
            </div>
        </section>
    </div>
    </main>
    <%-include ("partials/footer2")%>

   