<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="navbar__links">About</a>
    <a href="/classes" class="navbar__links">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages <i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Last Article</a></div>
    </div>
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<div class="navContainer">
    <a href="/login" class="login">Log in</a>
    <a href="/classes" class="joinclass__btn">Join Class</a>
    </div>
</header>
<main class="maincontent">
    <section class="banner banner__pages">
        <div class="banner__part1">
            <h1 class="banner__title">Copyrights</h1>
            <p class="banner__description banner__description--pages"><a href="/" class="banner__link">
                    Home</a> / Copyrights</p>
        </div>
    </section>
    <div class="container">
<ul class="ulList">
    <li class="cplist"> Template Design : <a href="https://htmlcodex.com/" class="cplink"> HTML Codex</a></li>
    <li class="cplist"> Flat Icon : <ul class="FAList">
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/ilham-fitrotul-hayat" class="cplink">&#10142; Ilham Fitrotul Hayat</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/maxim-basinski-premium" class="cplink">&#10142; Maxim Basinski Premium</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/those-icons" class="cplink">&#10142; Those Icons</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/good-ware" class="cplink">&#10142; Good Ware</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/freepik" class="cplink">&#10142; Freepik</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/fr/auteurs/stockio" class="cplink">&#10142; Stockio</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/made-by-made-premium" class="cplink">&#10142; Made by Made Premium</a></li>
        <li class="FAlist__li"><a href="https://www.flaticon.com/authors/payungkead" class="cplink">&#10142; Payungkead</a></li>
    </ul> 
    </li>
</ul>
    </div>
</main>
<%-include ("partials/footer2")%>