<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="navbar__links">About</a>
    <a href="/classes" class="navbar__links">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages<i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Blog Detail</a></div>
    </div>
    
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<a href="/login">Log in</a>
<a href="/classes" class="joinclass__btn">Join Class</a>
</header>
<% if(typeof error !== 'undefined') { %>
    <p><%= error %></p>
  <% } %> 

<h2>Bienvenue</h2>
<form action="" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" >
    <label for="name">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Log in</button>
</form>
