<%-include ("partials/header")%>
<nav class="navbar">
    <a href="/" class="navbar__links navbar__links--left ">Home</a>
    <a href="/about" class="navbar__links">About</a>
    <a href="/classes" class="navbar__links">Classes</a>
    <a href="/teachers" class="navbar__links">Teachers</a>
    <a href="/gallery" class="navbar__links" id="galleryLink">Gallery</a>
    <div class="pageMenuContainer navbar__links"><span class="pagespan">Pages<i class="fa-solid fa-caret-down pageMenu"></i></span>
        <div class="linkcontainer"><a href="/pages" class="navbar__links doubleLink">Our Blog</a>
        <a href="/blogdetails" class="navbar__links doubleLink">Blog Detail</a></div>
    </div>
    
    <a href="/contact" class="navbar__links">Contact</a>
</nav>
<a href="/classes" class="joinclass__btn">Join Class</a>
</header>
<main class="maincontent">
    <section class="banner banner__pages">
        <div class="banner__part1">
            <h1 class="banner__title">Our Blog</h1>
            <p class="banner__description banner__description--pages"><a href="index.html" class="banner__link"> Home</a> / Our Blog</p>
        </div>
    </section>
    <div class="container">
        <section class="blogcontent">
            <h3 class="content__subtitle content__subtitle--border">Latest Blog</h3>
            <h2 class="content__title content__title--size">Latest articles from our blog</h2>
     <div class="article__container">
            <article class="blogarticle">
                <img src="../img/blog-1.jpg" alt="blog1" class="blogarticle__image">
                <h3 class="blogarticle__title">Diam amet eos at no eos</h3>
                <p class="blogarticle__details">
                    <img src="../img/user.png" alt="user icon" class="blogarticle__img"><span
                        class="admin">Admin</span>
                    <img src="../img/folder.png" alt="folder icon" class="blogarticle__img"><span
                        class="webdesign">Web Design</span>
                    <img src="../img/bubble-chat.png" alt="comment icon" class="blogarticle__img"><span
                        class="comments">15</span>
                </p>
                <p class="blogarticle__description">Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                    eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet
                    stet...</p>
                <a href="blogdetail.html" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
            <article class="blogarticle">
                <img src="../img/blog-2.jpg" alt="blog2" class="blogarticle__image">
                <h3 class="blogarticle__title">Diam amet eos at no eos</h3>
                <p class="blogarticle__details">
                    <img src="../img/user.png" alt="user icon" class="blogarticle__img"><span
                        class="admin">Admin</span>
                    <img src="../img/folder.png" alt="folder icon" class="blogarticle__img"><span
                        class="webdesign">Web Design</span>
                    <img src="../img/bubble-chat.png" alt="comment icon" class="blogarticle__img"><span
                        class="comments">15</span>
                </p>
                <p class="blogarticle__description">Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                    eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet
                    stet...</p>
                <a href="blogdetail.html" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
            <article class="blogarticle">
                <img src="../img/blog-3.jpg" alt="blog3" class="blogarticle__image">
                <h3 class="blogarticle__title">Diam amet eos at no eos</h3>
                <p class="blogarticle__details">
                    <img src="../img/user.png" alt="user icon" class="blogarticle__img">
                    <span class="admin">Admin</span>
                    <img src="../img/folder.png" alt="folder icon" class="blogarticle__img">
                    <span class="webdesign">Web Design</span>
                    <img src="../img/bubble-chat.png" alt="comment icon" class="blogarticle__img">
                    <span class="comments">15</span>
                </p>
                <p class="blogarticle__description">Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                    eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet
                    stet...</p>
                <a href="blogdetail.html" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
            <article class="blogarticle">
                <img src="../img/blog-2.jpg" alt="blog2" class="blogarticle__image">
                <h3 class="blogarticle__title">Diam amet eos at no eos</h3>
                <p class="blogarticle__details">
                    <img src="../img/user.png" alt="user icon" class="blogarticle__img"><span
                        class="admin">Admin</span>
                    <img src="../img/folder.png" alt="folder icon" class="blogarticle__img"><span
                        class="webdesign">Web Design</span>
                    <img src="../img/bubble-chat.png" alt="comment icon" class="blogarticle__img"><span
                        class="comments">15</span>
                </p>
                <p class="blogarticle__description">Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                    eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet
                    stet...</p>
                <a href="blogdetail.html" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
            <article class="blogarticle">
                <img src="../img/blog-3.jpg" alt="blog3" class="blogarticle__image">
                <h3 class="blogarticle__title">Diam amet eos at no eos</h3>
                <p class="blogarticle__details">
                    <img src="../img/user.png" alt="user icon" class="blogarticle__img">
                    <span class="admin">Admin</span>
                    <img src="../img/folder.png" alt="folder icon" class="blogarticle__img">
                    <span class="webdesign">Web Design</span>
                    <img src="../img/bubble-chat.png" alt="comment icon" class="blogarticle__img">
                    <span class="comments">15</span>
                </p>
                <p class="blogarticle__description">Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                    eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet
                    stet...</p>
                <a href="blogdetail.html" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
            <article class="blogarticle">
                <img src="../img/blog-1.jpg" alt="blog1" class="blogarticle__image">
                <h3 class="blogarticle__title">Diam amet eos at no eos</h3>
                <p class="blogarticle__details">
                    <img src="../img/user.png" alt="user icon" class="blogarticle__img"><span
                        class="admin">Admin</span>
                    <img src="../img/folder.png" alt="folder icon" class="blogarticle__img"><span
                        class="webdesign">Web Design</span>
                    <img src="../img/bubble-chat.png" alt="comment icon" class="blogarticle__img"><span
                        class="comments">15</span>
                </p>
                <p class="blogarticle__description">Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                    eirmod, duo et sed sit eirmod kasd clita tempor dolor stet lorem. Tempor ipsum justo amet
                    stet...</p>
                <a href="blogdetail.html" class="joinclass__btn joinclass__btn--center">Read More</a>
            </article>
        </div>
        </section>
              </div>

    </main>
<%-include ("partials/footer")%>