<%-include ("partials/header")%>
<main class="maincontent">
    <section class="banner banner__pages">
        <div class="banner__part1">
            <h1 class="banner__title">Our Classes</h1>
            <p class="banner__description banner__description--pages"><a href="/" class="banner__link"> Home</a> / Our Classes</p>
        </div>
    </section>
    <div class="container">
        <section class="teacherslist">
            <h3 class="content__subtitle content__subtitle--border">Our teachers</h3>
            <h2 class="content__title content__title--center">Meet Our Teachers</h2>
            <div class="teachers__container  animate__animated animate__zoomIn animate__slow ">
            <div class="teachers ">
                <img src="../img/team-1.jpg" alt="Julia" class="teachers__image">
                <span class="teachers__name">Julia Smith</span>
                <span class="teachers__spe">Music Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-2.jpg" alt="Tom" class="teachers__image">
                <span class="teachers__name">Tom Doe</span>
                <span class="teachers__spe">Language Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-3.jpg" alt="Molly" class="teachers__image">
                <span class="teachers__name">Molly Ross</span>
                <span class="teachers__spe">Dance Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-4.jpg" alt="David" class="teachers__image">
                <span class="teachers__name">David Robert</span>
                <span class="teachers__spe">Art Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-1.jpg" alt="Julia" class="teachers__image">
                <span class="teachers__name">Julia Smith</span>
                <span class="teachers__spe">Music Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-2.jpg" alt="Tom" class="teachers__image">
                <span class="teachers__name">Tom Doe</span>
                <span class="teachers__spe">Language Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-3.jpg" alt="Molly" class="teachers__image">
                <span class="teachers__name">Molly Ross</span>
                <span class="teachers__spe">Dance Teacher</span>
            </div>
            <div class="teachers">
                <img src="../img/team-4.jpg" alt="David" class="teachers__image">
                <span class="teachers__name">David Robert</span>
                <span class="teachers__spe">Art Teacher</span>
            </div></div>
        </section>
        <section class="testimonial">
            <h3 class="content__subtitle content__subtitle--border">Testimonial</h3>
            <h2 class="content__title content__title--center">What Parents Say!</h2>
            <div class="parentsContainer">
                <div id="previous"><i class="fa-solid fa-circle-chevron-right"> </i></div>
            <div class="parents">
                <p class="parents__speech"><img src="../img/quote.png" alt="quote"
                        class="quote">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita
                    lorem. Dolor tempor ipsum clita</p>
                <div class="parents__infos">
                    <div>
                        <img src="../img/testimonial-1.jpg" alt="Photo parent1" class="parents__infos-image"> </div>
                        <div class="parents__infos-name"><span class="parents-name">John Smith</span>
                            <span class="parents-job">Cooker</span></div>
                    </div>
               
            </div>
            <div class="parents">
                <p class="parents__speech"><img src="../img/quote.png" alt="quote"
                        class="quote">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita
                    lorem. Dolor tempor ipsum clita</p>
                <div class="parents__infos">
                    <div>
                        <img src="../img/testimonial-2.jpg" alt="Photo parent2" class="parents__infos-image">
                    </div>
                        <div class="parents__infos-name">
                            <span class="parents-name">Elsa Snow</span>
                            <span class="parents-job">Shop Owner</span></div>
                    </div>
                
            </div>
            <div class="parents">
                <p class="parents__speech"><img src="../img/quote.png" alt="quote"
                        class="quote">Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita
                    lorem. Dolor tempor ipsum clita</p>
                <div class="parents__infos">
                    <div>
                        <img src="../img/testimonial-3.jpg" alt="Photo parent13" class="parents__infos-image"></div>
                        <div class="parents__infos-name">
                            <span class="parents-name">Luke Wars</span>
                            <span class="parents-job">Writer</span></div>
                    </div>
            </div>  
        <div id="after"><i class="fa-solid fa-circle-chevron-left"></i></div>
        </div>

        </section>
    </div>
   
    <%-include ("partials/footer")%>